{% extends "site/base.html" %}
{% block content %}
<h4>Change Password</h4>
<form method='post' action=''>
  {% csrf_token %}
  {% if form.non_field_errors %}
  <p class="nfe">
  {{ form.non_field_errors }}
  </p>
  {% endif %}
  <table>
    {% for field in form %}
    <tr><th>
        {% if field.label == 'New password confirmation' %}
        New password (again):
        {% else %}
        {{ field.label }}:
        {% endif %}
      </th><td>
        {{ field }}
      </td>
      {% if field.errors %}
      <td>{{ field.errors }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table><p>
  <input type='submit' value="Change password" />
  </p>
</form>
{% endblock %}
