{% extends "site/base.html" %}
{% block content %}
<h4>
  Forgot your password? Enter your email to get a new one.
</h4>
<form method='post' action='.'>
  {% csrf_token %}
  {% if form.non_field_errors %}
  <p class="nfe">
  {{ form.non_field_errors }}
  </p>
  {% endif %}
  <table>
    {% for field in form %}
    <tr><th>
        {{ field.label }}:
      </th><td>
        {{ field }}
      </td>
      {% if field.errors %}
      <td>
        {{ field.errors }}
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  <p>
  <input type='submit' value="Reset password" />
  </p>
</form>
{% endblock %}
