{% extends "site/base.html" %}
{% load humanize %}
{% block content %}
{% with comment_form=form %}
<form action="{% url "comment_update" pk=comment_form.instance.pk %}" method="post" accept-charset="utf-8">
  {% csrf_token %}
  {% if comment_form.form.non_field_errors %}
  <p class="nfe">{{ comment_form.non_field_errors }}</p>
  {% endif %}
  <table class="comment-form">
    <tr>
      <td>
        <div class="full_width_textarea">{{ comment_form.desc }}</div>
        {% if comment_form.desc.errors %}
        {{ comment_form.desc.errors }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <input type='submit' value='update comment'/>
      </td>
    </tr>
  </table>
</form>
{% endwith %}
{% endblock %}
